{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock %}
{% block style %}
    <style>
    </style>
{% endblock %}
{% block content %}
    <h1 class="m-2 p-2 d-flex align-items-center justify-content-center">About Us</h1>

    <p class="m-2 p-2 d-flex align-items-center justify-content-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus vitae placeat impedit. Necessitatibus a ducimus natus veritatis obcaecati dolore consequatur reprehenderit culpa quae excepturi quas, explicabo neque quod, eius omnis.
        
    </p>
{% endblock %}