{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block style %}
    <style>
    </style>
{% endblock %}
{% block content %}
<section class="text-center">
    <h1 class="p-5 fw-bold">Login Form</h1>
    <div class="container">
        <form action="" method="POST" class="form-register p-5 rounded-5" style="color:white;background-color:#3C486B;">

            {{ form.hidden_tag() }} 
            <img src="https://img.freepik.com/free-vector/forgot-password-concept-illustration_114360-1123.jpg?w=740&t=st=1686150179~exp=1686150779~hmac=d3f0e429737336ba452fdd22ef5f03eacf97501fec825e321969129f5cd9d64b" class="w-50 h-50" alt="">
            <br>
            {{form.username.label()}}
            {{form.username(class="form-control",placeholder="User Name")}}

            {{form.password.label()}}
            {{form.password(class="form-control",placeholder="Password")}}
        
            <br>

            <div class="checckbox mb-3">
                <h6>Do not have an account?</h6>
                <a href="{{url_for('register_page')}}" class="btn btn-sm btn-secondary">Register</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
</section>
{% endblock %}