{% extends 'base.html' %}
{% block title %}
Search
{% endblock %}
{% block style %}

{% endblock %}

{% block content %}
    <h1>
        All {{searchRes}} Course:
    </h1>
    
    <div class="container">

        {% for course in courses %}
            <section class="py-5">
              <div class="container px-5">
                  <h1 class="fw-bolder fs-5 mb-4"></h1>
                  <div class="card border-0 shadow rounded-3 overflow-hidden">
                      <div class="card-body p-0">
                          <div class="row gx-0">
                              <div class="col-lg-6 col-xl-5 py-lg-5">
                                  <div class="p-4 p-md-5">
                                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{course.what_you_will_learn}}</div>
                                      <div class="h2 fw-bolder">{{course.name}}</div>
                                      <p>{{course.description}}</p>
                                      <a class="stretched-link text-decoration-none" href="/course/{{course.id}}">
                                          Go to course page
                                          <i class="bi bi-arrow-right"></i>
                                      </a>
                                  </div>
                              </div>
                              <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog"><img src="../static/images/{{course.course_image}}" width=100% alt="course image"></div></div>
                          </div>
                      </div>
                  </div>
                  <div class="col p-2 m-1">
                    <form action="/removecourse" method="POST">
                        <input type="hidden" name="id_" value="{{course.id}}">
                        <input class="btn btn-danger" type="submit" value="Delete Course">
                    </form>
                  </div>
                  
              </div>
          </section>
        {% endfor %}
      </div>

{% endblock %}
